body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.ocultar{
    display: none;
}

.barra a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.site-header{
    background-color: #c2185b;
}

.site-header h1{
    color: white;
}

@media (min-width:768px){
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .barra ul{
        display: flex;
    }
    .barra a{
        margin-left: 30px;
        transition: all .3s ease-in-out;
    }

    .barra a:hover{
        border-bottom: 1px solid white;
    }

    .obras{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .obra{
        margin: 20px;
    }

    .obra img{
        height: 350px;
    }

    .obra .descripcion{
        height: 100px;
        overflow: hidden;
    }

    #obra-individual{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .datos-obra{
        margin-left: 100px;
    }

    .datos-taller{
        display: inline-block;
        size: 60%;
        margin-left: 100px;
    }

    #obra-individual img{
        width: 100%;
    }

}

.obra span{
    font-weight: bold;
}

.obras{
    transition: all .5s ease;
    position: relative;
}

.seccion{
    padding-top: 20px;
}

.seccion form{
    line-height: 40px;
    background: white;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
    color: #c2185b;
}

.btn {
    background-color: #c2185b;
    padding: 10px 20px;
    color: white;
    transition: all .5s ease;
    border-radius: 5px;
}

.btn:hover{
    background-color: rgb(156,10,69);
    cursor: pointer;
}

/** Representantes **/
.representantes{
    background-image: url(../img/banner-representantes.jpg);
    background-size: cover;
    background-position: center;
    height: 300px;
    background-color: rgb(0, 0, 0);
}

.nuevo-representante{
    color: white;
    height: 100%;
    text-align: center;
}

.nuevo-representante p{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.nuevo-representante a{
    text-align: center;
    color: white;
    font-weight: bold;
}

.nuevo-artista{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#talleres{
    background-image: url(../img/banner-talleres.jpg);
}

.nuevo-taller{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nuevo-taller a{
    text-align: center;
    color: white;
    font-weight: bold;
}

.btn-amarillo{
    background-color:  #dfa701;
    padding: 10px 20px;
    border-radius: 5px;
    transition: all .5s ease;
}

.btn-amarillo:hover{
    background-color: #b98c03;
}

input, select{
    padding: 10px 20px;
}

.campo{
    margin: 10px 0;
}

.campo input, .campo select, textarea{
    margin: 0 10px;
    font-size: 14px;
    border: 1px solid #aaa;
}

textarea{
    width: 450px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.campo .btn{
    border: none;
}

#busqueda-avanzada{
    display: none;
}

.talleres{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transition: all .5s ease;
}

.relative{
    position: relative;
}

.relative .obras{
    margin-top: 20px;
}

.formalidad{
    display: none;
}

.bajar{
    position: absolute;
    transform: translateY(100px);
}

.taller img {
    height: 300px;
}

.taller {
    margin: 10px;
}

.taller span{
    font-weight: bold;
}

.d-none{
    display: none;
}

.boton-amarillo {
    background-color: #dfa701;
    padding: 10px;
}

.boton-amarillo:hover{
    border-bottom: none!important;
    background-color: #b98c03;
}

#taller-individual span{
    font-weight: bold;
}

#mapid {
    display: inline-block;
    float: right;
    width: 663px;
    height: 442px;
    border: 0px solid #AAA;
    position: relative;
}

.mostrar-mapa{
    margin-top: 20px;
    height: 500px;
    background-color: rebeccapurple;
}